<!DOCTYPE html>
<!-- Coding By Codequs - youtube.com/codequs -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>African_weather</title>
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Linking BoxIcon for Icon -->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    {% comment %} boostrap link {% endcomment %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    {% comment %} boostrap script {% endcomment %}
  </head>
  <body>
    <div class="wrapper">
      <header><i class='bx bx-left-arrow-alt'></i>African weather</header>
      <section class="input-part">
        {% if error %}
        <div class="alert alert-danger">
          {{error}}
        </div>
        {% endif %}
        <form action="{% url 'weather'%}" method="post">
        {% csrf_token %}
          <p class="info-txt"></p>
          <div class="content">
            <input type="text" spellcheck="false" name="vil_name" placeholder="Enter city name" >

            <input type="hidden" name="long" value="">
            <input type="hidden" name="larg" value="">

            <button type="submit" name="submit" value="submit" style="margin-top:10px">Search</button>
            <div class="separator"></div>
            <button type="submit" class="location" id="loc">Get Device Location</button>
          </div>
        </form>
      </section>
    </div>
    
  

  </body>
</html> 
<script>
 document.getElementById("loc").addEventListener("click", function(){
      navigator.geolocation.getCurrentPosition(locationfonc);
    
  });
  
  function locationfonc(position) {
    var long = position.coords.longitude;
    var larg = position.coords.latitude;
    document.getElementsByClassName("long").value = long;
    document.getElementsByClassName("larg").value = larg;
  }

</script>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: linear-gradient(
  135deg,
  hsl(278deg 64% 67%) 0%,
  hsl(256deg 80% 73%) 17%,
  hsl(232deg 97% 75%) 33%,
  hsl(216deg 100% 69%) 47%,
  hsl(205deg 100% 60%) 59%,
  hsl(197deg 100% 50%) 69%,
  hsl(195deg 100% 50%) 77%,
  hsl(192deg 100% 48%) 85%,
  hsl(188deg 100% 46%) 92%,
  hsl(184deg 100% 44%) 100%
);
}
::selection{
  color: #fff;
  background: #2d1d7e;
  
}
.wrapper{
  width: 400px;
  background: #4846bb;
  border-radius: 7px;
  box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.05);
}

.wrapper header{
  display: flex;
  font-size: 21px;
  font-weight: 500;
  color: #ffffff;
  padding: 16px 15px;
  align-items: center;
  border-bottom: 1px solid #ccc;
}
header i{
  font-size: 0em;
  cursor: pointer;
  margin-right: 8px;
}
.wrapper.active header i{
  margin-left: 5px;
  font-size: 30px;
}
.wrapper .input-part{
  margin: 20px 25px 30px;
}
.wrapper.active .input-part{
  display: none;
}
.input-part .info-txt{
  display: none;
  font-size: 17px;
  text-align: center;
  padding: 12px 10px;
  border-radius: 7px;
  margin-bottom: 15px;
}
.input-part .info-txt.error{
  color: #721c24;
  display: block;
  background: #f8d7da;
  border: 1px solid #f5c6cb;
}
.input-part .info-txt.pending{
  color: #0c5460;
  display: block;
  background: #d1ecf1;
  border: 1px solid #bee5eb;
}
.input-part :where(input, button){
  width: 100%;
  height: 55px;
  border: none;
  outline: none;
  font-size: 18px;
  border-radius: 7px;
}
.input-part input{
  text-align: center;
  padding: 0 15px;
  border: 1px solid #ccc;
}
.input-part input:is(:focus, :valid){
  border: 2px solid #43AFFC;
}
.input-part input::placeholder{
  color: #bfbfbf;
}
.input-part .separator{
  height: 1px;
  width: 100%;
  margin: 25px 0;
  background: #ccc;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.separator::before{
  content: "or";
  color: #b3b3b3;
  font-size: 19px;
  padding: 0 15px;
  background: #fff;
}
.input-part button{
  color: #fff;
  cursor: pointer;
  background-image: linear-gradient(
  135deg,
  hsl(278deg 64% 67%) 0%,
  hsl(256deg 80% 73%) 17%,
  hsl(232deg 97% 75%) 33%,
  hsl(216deg 100% 69%) 47%,
  hsl(205deg 100% 60%) 59%,
  hsl(197deg 100% 50%) 69%,
  hsl(195deg 100% 50%) 77%,
  hsl(192deg 100% 48%) 85%,
  hsl(188deg 100% 46%) 92%,
  hsl(184deg 100% 44%) 100%
);
  transition: 0.3s ease;
}
.input-part button:hover{
  background:#0c1060
}

.wrapper .weather-part{
  display: none;
  margin: 30px 0 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.wrapper.active .weather-part{
  display: flex;
}
.weather-part img{
  max-width: 125px;
}
.weather-part .temp{
  display: flex;
  font-weight: 500;
  font-size: 72px;
}
.weather-part .temp .numb{
  font-weight: 600;
}
.weather-part .temp .deg{
  font-size: 40px;
  display: block;
  margin: 10px 5px 0 0;
}
.weather-part .weather{
  font-size: 21px;
  text-align: center;
  margin: -5px 20px 15px;
}
.weather-part .location{
  display: flex;
  font-size: 19px;
  padding: 0 20px;
  text-align: center;
  margin-bottom: 30px;
  align-items: flex-start;
}
.location i{
  font-size: 22px;
  margin: 4px 5px 0 0;
}
.weather-part .bottom-details{
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-top: 1px solid #ccc;
}
.bottom-details .column{
  display: flex;
  width: 100%;
  padding: 15px 0;
  align-items: center;
  justify-content: center;
}
.column i{
  color: #5DBBFF;
  font-size: 40px;
}
.column.humidity{
  border-left: 1px solid #ccc;
}
.column .details{
  margin-left: 3px;
}
.details .temp, .humidity span{
  font-size: 18px;
  font-weight: 500;
  margin-top: -3px;
}
.details .temp .deg{
  margin: 0;
  font-size: 17px;
  padding: 0 2px 0 1px;
}
.column .details p{
  font-size: 14px;
  margin-top: -6px;
}
.humidity i{
  font-size: 37px;
}
</style>