<!DOCTYPE html>
<!-- Coding By Codequs - youtube.com/codequs -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>African_weather</title>
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Linking BoxIcon for Icon -->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <!-- {% comment %} boostrap link {% endcomment %} -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- {% comment %} boostrap script {% endcomment %} -->
  </head>
  <body>

    <header class="header" >African weather</header>

    <div class="wrapper">
      <div class="sun">

        <img src="
        https://3dicons.sgp1.cdn.digitaloceanspaces.com/v1/dynamic/color/sun-dynamic-color.png
        " alt="">
      </div>
        <section class="input-part">
          {% if error %}
        <div class="alert alert-danger">
          {{error}}
        </div>
        {% endif %}
        <form action="{% url 'weather'%}" method="post">
        {% csrf_token %}
          <p class="info-txt"></p>
          <div class="content">
            <label for="search">Search city</label>
            <input id="search" type="text" spellcheck="false" name="vil_name" placeholder="Dakar" >

            <input type="hidden" name="long" id="long" value="">
            <input type="hidden" name="larg" id="larg" value="">
            
            <button id="loc" >Search</button>
          </div>
        </form>
      </section>
    </div>
    
  

  </body>
</html>
<script>
  document.getElementById("loc").addEventListener("click", function(){
    if(navigator.geolocation){
       navigator.geolocation.getCurrentPosition(locationfonc);
    }else{
        alert("Your browser not support geolocation api");
    }
       
  
   });
   var larg
   var long 
   function locationfonc(position) {
       long = position.coords.longitude;
       larg = position.coords.latitude;
      document.getElementsById("long").value = long;
      document.getElementsById("larg").value = larg;
      console.log(long);
      console.log(larg);
   }
 
 </script>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  display: block;
  
  background: #16BFFD;  /* fallback for old browsers */
  background: linear-gradient(100deg, #b776e1, #04cfe1); }
::selection{
  color: #fff;
  background: #2d1d7e;
  
}
header{
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  text-align: left;
  margin-top: 0;
  width: 100vw;
  height: 10vh;
  padding: 20px;
  
}


.wrapper{
 
  width: 100%;
display: flex;
flex-direction: row;
justify-content: center;
    align-items: center;
}
.input-part{
  background: url(https://www.alxafrica.com/wp-content/uploads/2022/01/banner-img-1.png);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position-x: 70%;


} 
.sun{
  width: 50%;
  height: 90vh;
  display: flex;
  flex-direction: column;
      justify-content: center;
    align-items: center;
}
.sun>img{
  width: 70%;

}
form{
  width: 70%;
  height: 90vh;
  display: flex;
  flex-direction: column;
      justify-content: center;
    align-items: center;
}
div.content{
width: 100%;}
label{
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
  margin-bottom: 0px;
}
input{
  
  width: 80%;
  height: 60px;
  border-radius: 15px;
  border: 1px solid #fff;
  padding: 0 10px;
  font-size: 1.2rem;
  font-weight: 500;
  
  margin-bottom: 10px;
}
button#loc{
  MArgin-top: 15pX;
  width: 65%;
  border: none;
  height: 45px;
  background-color: #155c80;
  border-radius: 30px;
  color: #fff;
  font-weight: 500;
margin-left: 5%;
}


</style>